@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>Yazarın Blogları</h1>
<div>
    <table class="table table-bordered">

        <tr>
            <th>#</th>
            <th>Blog Başlığı</th>
            <th>Oluşturma Tarihi</th>
            <th>Kategori</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>

        <th>@item.BlogID</th>
        <td>@item.BlogTitle</td>
        <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
        <td>@item.Category.CategoryName</td>
        <td>
            @if (item.BlogStatus == true)
            {
                <span>Aktif</span>
            }
            else
            {
                <span>Pasif</span>
            }
        </td>

        @*<td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>*@
        <td>
            <button id="Sil_@item.BlogID" href="~/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">
                <i class="far fa-trash-alt">Sil</i>
            </button>
        </td>
        <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
        <script>
                    $('#Sil_@item.BlogID').click(function (e) {
                        e.preventDefault();
                        var linkURL = $(this).attr("href");
                        swal({
                            title: 'UYARI!',
                            text: "Blog yazısını silmek istediğinize emin misiniz?",
                            buttons: {
                                cancel: {
                                    text: "Hayır",
                                    value: true,
                                    visible: true,
                                    closeModal: true,
                                },
                                confirm: {
                                    text: "Evet",
                                    value: true,
                                    visible: true,
                                    closeModal: true,

                                }
                            }
                        })
                    });
        </script>



    </tr>
        }
    
    </table>
</div>  


    <a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>

