
<div class="tech-btm">
    
    <p>Tüm bloglarımızdan haberdar olun </p>
    <form asp-controller="NewsLetter" asp-action="SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>
