@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>burası kendi luşturduğumuz test sayfasıdır</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Esra</td>
        <td>Cabas</td>
    </tr>
    <tr>
        <td>2</td> 
        <td>Aslı</td>
        <td>Tolu</td>
    </tr>
</table>
